<launch>

<rosparam file="$(find BadBot_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="BadBot" args="Rev13_position_controller Rev14_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/BadBot/joint_states"/>
</node>

</launch>